/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --main-font-family: "IBM Plex mono", monospace;
  --accent-color: #ff0070;
  --main-bg-color: #000028;
  --background-image: url(../images/cover-image-dark.png);
  --text-color: #f1b2ce;
  --nav-color: #ff0070;
  --nav-hover-color: rgb(255 0 112 / 0.4);
  --main-heading-color: #000028;
  --header-title: #db00ff;
  --main-gap: 10px;
  --gap: 20px;
  --main-text-size: 18px;
  --main-line-height: 23.4px;
  --font-weight-title: 700;
  --font-weight: 400;
  --title-line-height: 83%;
  --title-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}
@media (width>=768px) {
  :root {
    .title {
      --title-size: clamp(7.25rem, 0.5625rem + 14.4531vw, 9.8125rem);
    }
  }
}
